.lead{
  margin: 32px auto 0;
}

.lead figure{
  margin: 0;
}

@media screen and (min-width: 1280px){
  .lead{
    margin-top: 56px;
    max-width: 984px;
  }
}
@media screen and (max-width: 768px){
  .lead{
    width: calc(100% - 48px);
  }
}
@media screen and (max-width: 320px){
  .lead{
    width: 100%;
  }
}
