.lead__subtitle{
  margin: 32px auto 64px;
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #FFF;
}

@media screen and (max-width: 1024px){
  .lead__subtitle{
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 720px){
  .lead__subtitle{
    margin: 16px auto 40;
    width: 90%;
    font-size: 16px;
    line-height: 20px;
  }
}
