.place__link{
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  opacity: 1;
  transition: opacity .5s;
  cursor: pointer;
}

.place__link:hover{
  opacity: 0.7;
  transition: opacity .5s;
}
