.footer{
  margin: 92px 48px 0;
  width: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px){
  .footer{
    margin: 88px 24px 0;
  }
}
@media screen and (max-width: 425px){
  .footer{
    margin: 64px 16px 0;
    flex-direction: column;
  }
}
